.name, .title {
    text-align: left;
    display: inline;
}

.container {
    margin: 15px;
}

#description {
    text-align: left;
    font-size: 20px;
}

.card {
    padding-left: 20px;
    padding-right: 20px;
}

#time {
    display: inline;
}

.error {
	color: red;
}

.register, .login {
    background-color: #eee;
    text-align: left;
}

#submitButton {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer {
    text-align: center;
}

#footer-heading {
    font-size: 15px;
}

#notif-button {
    margin-left: 20px;
}
