.name, .title {
    text-align: left;
    display: inline;
}

.container {
    margin: 15px;
}

#description {
    text-align: left;
    font-size: 20px;
}

.card {
    padding-left: 20px;
    padding-right: 20px;
}

#time {
    display: inline;
}

.error {
	color: red;
}

.register, .login, .addevent, .addclub{
    background-color: #eee;
    text-align: left;
}

#submitButton {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer {
    text-align: center;
}

#footer-heading {
    font-size: 15px;
}

#notif-button {
    margin-left: 20px;
}

/* Event form inputs */
#event_name_box, #description_box, #url_box {
    width: 40%;
}

#address_box {
    width: 50%;
}

/* code from the w3schools website to create a card for the events */
.card {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  width: 100%;
  padding: 2px 16px;
}
