.name, .title {
    text-align: left;
    display: inline;
}

.container {
    margin: 15px;
}

#description {
    text-align: left;
    font-size: 20px;
}

.card {
    padding-left: 20px;
    padding-right: 20px;
}

#time {
    display: inline;
}

.error {
	color: red;
}

.register, .login, .addevent, .addclub{
    background-color: white;
    text-align: left;
}

#submitButton {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer {
    text-align: center;
}

#footer-heading {
    font-size: 15px;
}

#notif-button {
    margin-left: 20px;
}

/* Event form inputs */
#event_name_box, #description_box, #url_box {
    width: 40%;
}

#address_box {
    width: 50%;
}

/* code from the w3schools website to create a card for the events */
.card {
  float: left;
  margin: 1px;
  padding: 10px 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
}

.event-page-card {
    float: left;
    margin: 1px;
    padding: 10px 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 600px;
}

.card-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.event-card-image, .club-card-image {
    max-height: 400px;
}
#event-card-image, #club-card-image {
    max-width: 390px;
    max-height: 400px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  display: block;
  width: 100%;
  padding: 2px 16px;
}

.container .card:first-child{
  margin-left: 0px;
}

.container .card:nth-child(2n){
  margin-right: 0;
}

.container .card:nth-child(2n+1){
  margin-left: 0;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
